/* src/styles/styles.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 10px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.sidebar h2 {
  text-align: center;
}

.draggable-item {
  padding: 8px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: grab;
  text-align: center;
 
}

.canvas {
  position: relative;
  width: 100%;
  height: calc(100vh - /* height of your header or other elements */);
  background-color: #f0f0f0; /* Change this to your desired background color */
  overflow: auto; /* To allow scrolling if the content exceeds the viewport */
}

/* Mobile styles */
@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .canvas {
    min-height: 20vh; /* Make sure the canvas takes full height */
  }
}

.properties-panel {
  width: 250px;
  background-color: #f9f9f9;
  padding: 10px;
  box-sizing: border-box;
  border-left: 1px solid #ddd;
  overflow-y: auto;
}
.property{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.properties-panel h2 {
  text-align: center;
}

.element {
  position: absolute;
  cursor: move;
  border: 1px dashed transparent;
  padding: 5px;
}

.element.selected {
  border-color: blue;
}
.header{
  background-color: blue;
  padding: 16px;
  color: white;
  text-align: center;
  font-weight: 800;
}
.buttons{
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    gap: 30px;
  }
  .sidebar, .properties-panel {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
  }
  .canvas {
    height: 50vh;
  }
}
